
{{> default/header }}

<body>

<!-- Navigation -->
{{> default/top-navigation }}

<!-- Page Content -->
<div id="banner">
    <div class="wrap-center">
        <div class="banner-centered" id="banner-text">
            <h2>Universidad Católica de Honduras<strong> SPSP</strong></h2>
        </div>
    </div>
</div>
<div class="container">
    {{> default/messages}}

    {{{ body }}}

</div>
<!-- /.container -->
{{> default/footer }}